body {
  display: grid;
  grid-template-rows: 1fr auto 1fr auto;
  grid-template-areas:
    'header'
    'navbar'
    'main'
    'footer';
}

/*** PAGE - HOME ***/
body > header {
  grid-area: header;
  display: grid;
  min-height: 90vh;
  display: grid;
}

body > nav {
  grid-area: navbar;
}

body > main {
  grid-area: main;
  padding: 2rem;
  color: hsla(0, 0%, 100%, 0.849);
  display: grid;
  gap: 2rem;
}
body > footer {
  grid-area: footer;
  padding: 1rem;
  background-color: hsl(0, 24%, 39%);
}
