:root {
  --bar-width: 60px;
  --bar-height: 8px;
  --bar-gap: 6px;
  --button-size: 4rem;
  --line-width: 0.5rem;
  --bg-color: var(--clr-pri-shade);
  --fg-color: var(--clr-pri);
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--bg-color);
  color: var(--fg-color);
  padding: 0.5rem;
}

/*** Logo ***/
#navbar h1 {
  font-family: var(--ff-heading);
  font-size: var(--fs-md);
}

/*** Links ***/
#navbar a {
  text-decoration: none;
  transition: all 0.3s;
  /* display: grid;
  gap: 1.5rem; */
}

#navbar a:hover {
  transition: 0.3s background-color;
}

/*** Hamburger Menu Button ***/
#navbar button {
  width: var(--button-size);
  fill: transparent;
  stroke: var(--fg-color);
  stroke-width: var(--line-width);
  stroke-linecap: round;
  stroke-linejoin: round;
  overflow: hidden;
}

#navbar button:hover {
  stroke-width: calc(var(--line-width) * 1.5);
}

#navbar button svg {
  transition: translate 1s, rotate 1s;
}

#navbar button[aria-expanded='true'] svg {
  /* translate: 0.125rem -0.125rem; */
  rotate: 45deg;
}

#navbar button path {
  stroke-dasharray: 60 31 60 300;
  transition: 0.5s;
}

#navbar button[aria-expanded='true'] path {
  stroke-dasharray: 60 104 60 300;
  stroke-dashoffset: -90;
  transition: 0.5s;
}
