:root {
  --bar-width: 60px;
  --bar-height: 8px;
  --bar-gap: 6px;
  --hamburger-width: 4rem;
  --hamburger-line: 0.5rem;
  --hamburger-radius: 0.5rem;
  --hamburger-scale: 0.125;
}
body > nav {
  /* padding-left: 10%;
  padding-right: 10%;
  padding: 1.5rem; */
  font-size: larger;
  align-items: center;
  display: flex;
  justify-content: space-between;
  background-color: gold;
}

#hamburger-menu {
  border: none;
  width: var(--hamburger-width);
  background-color: transparent;
  color: var(--clr-primary);
  fill: transparent;
  stroke: var(--clr-primary);
  stroke-width: calc(var(--hamburger-line) * 1.5);
  stroke-linecap: round;
  stroke-linejoin: round;
  overflow: hidden;
}

#hamburger-menu :hover {
  color: purple;
}

#hamburger-menu svg {
  transition: translate 1s, rotate 1s;
}

#hamburger-menu[aria-expanded='true'] svg {
  /* translate: 0.125rem -0.125rem;
  rotate: 45deg; */
  translate: calc(var(--hamburger-scale) * 1rem)
    calc(var(--hamburger-scale) * -1rem);
  rotate: calc(var(--hamburger-scale) * 1turn);
}

#hamburger-menu path {
  stroke-dasharray: 60 31 60 300;
  transition: 0.5s;
}

#hamburger-menu[aria-expanded='true'] path {
  stroke-dasharray: 60 104 60 300;
  stroke-dashoffset: -90;
  transition: 0.5s;
}
