:root {
  /* >>= BASE =<< */
  --color-h_primary: 170;
  --color-s_primary: 80%;
  --color-l_primary: 50%;
  --color-h_secondary: 17;
  --color-s_secondary: 80%;
  --color-l_secondary: 50%;
  --color-c-threshold: 60%;

  /* >>= COLORS =<< */
  --color-h_primary-complement: calc(var(--color-h_primary) + 180);
  --color-h_primary-triad1: calc(var(--color-h_primary) + 120);
  --color-h_primary-triad2: calc(var(--color-h_primary) + 240);

  --color_primary: hsl(
    var(--color-h_primary),
    var(--color-s_primary),
    var(--color-l_primary)
  );

  --color_primary-complement: hsl(
    var(--color-h_primary-complement),
    var(--color-s_primary),
    var(--color-l_primary)
  );

  --color_primary-triad1: hsl(
    var(--color-h_primary-triad1),
    var(--color-s_primary),
    var(--color-l_primary)
  );

  --color_primary-triad2: hsl(
    var(--color-h_primary-triad2),
    var(--color-s_primary),
    var(--color-l_primary)
  );

  --translucent-zero: 0;
  --translucent-slight: 0.75;
  --translucent-significant: 0.5;
  --overlay-opacity: var(--translucent-zero);
  --overlay-z-index: 10;

  --clr-primary-400: hsl(var(--hue), 66%, 50%);
  --clr-primary-500: hsl(var(--hue), 80%, 40%);
  --clr-primary-600: hsl(var(--hue), 84%, 32%);
  /* --clr-primary-min: hsl(0, 0%, 95%);
  --clr-primary-100: hsl(167, 85%, 89%);
  --clr-primary-200: hsl(168, 84%, 78%);
  --clr-primary-300: hsl(171, 77%, 64%);
  --clr-primary-400: hsl(172, 66%, 50%);
  --clr-primary-500: hsl(173, 80%, 40%);
  --clr-primary-600: hsl(175, 84%, 32%);
  --clr-primary-700: hsl(175, 77%, 26%);
  --clr-primary-800: hsl(176, 69%, 22%);
  --clr-primary-900: hsl(176, 61%, 11%);
  --clr-primary-max: hsl(0, 0%, 5%); */
}

:root {
  /* The last palette listed will be active */
  /* >>= Stealy Tan =<< */
  --clr-shade-light: #eeede7;
  --clr-accent-light: #9f8b69;
  --clr-brand: #397979;
  --clr-accent-dark: #8c505e;
  --clr-shade-dark: #141a1b;

  /* >>= Rich Earth =<< */
  --clr-shade-light: #c9cba3ff;
  --clr-accent-light: rgb(222, 179, 98);
  --clr-brand: #e26d5cff;
  --clr-accent-dark: #723d46ff;
  --clr-shade-dark: #2a2324;
}
