:root {
  --ON: initial;
  --OFF: ;
}

.theme-light {
  --light: var(--ON);
  --dark: var(--OFF);
}

.theme-default,
.theme-dark {
  --light: var(--OFF);
  --dark: var(--ON);
}

@media (prefers-color-scheme: dark),
  (prefers-color-scheme: no-preference) {
  :root,
  .theme-default {
    --light: var(--OFF);
    --dark: var(--ON);
  }
}

:root {
  --clr-primary: var(--clr-brand);
  --clr-secondary: var(--light, var(--clr-accent-dark))
    var(--dark, var(--clr-accent-light));
  --clr-foreground: var(--light, var(--clr-shade-dark))
    var(--dark, var(--clr-shade-light));
  --clr-background: var(--light, var(--clr-shade-light))
    var(--dark, var(--clr-shade-dark));
}

body {
  background-color: var(--clr-background);
  color: var(--clr-foreground);
}